﻿@model Dev.MT.ViewModels.CreateLeaveViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm(null, null, new { }, FormMethod.Post, new { }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.JobGrade, new {})
        @Html.TextBoxFor(m => m.JobGrade, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.JobGrade, null, new {@class = ""})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Start, new {})
        @Html.TextBoxFor(m => m.Start, "{0:yyyy/MM/dd}", new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Start, null, new {@class = ""})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.End, new {})
        @Html.TextBoxFor(m => m.End, "{0:yyyy/MM/dd}", new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.End, null, new {@class = ""})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Hours, new {})
        @Html.TextBoxFor(m => m.Hours, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Hours, null, new {@class = ""})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Note, new { })
        @Html.TextAreaFor(m => m.Note, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Note, null, new { @class = "" })
    </div>
    <div>
        <input type="submit" class="btn btn-primary" value="Save as draft" />
    </div>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
