﻿@using Automatonymous
@model IEnumerable<Dev.MT.ViewModels.LeaveDetailsViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Leaves</h2>

@Html.ActionLink("Create", "Create", "Leave", new { }, new { @class = "btn btn-default" })

<table class="table table-hover">
    <thead>
        <tr>
            <th>No.</th>
            <th>Note</th>
            <th>Job Grade</th>
            <th>Hours</th>
            <th>State</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.LeaveId</td>
                <td>@item.Note</td>
                <td>@item.JobGrade</td>
                <td>
                    <strong>@item.Hours hours</strong><br />
                    <span>@item.Start.ToString("ddd, dd MMM")</span><br />
                    <span>@item.End.ToString("ddd, dd MMM")</span>
                </td>
                <td>@{Html.RenderPartial("_LeaveState", item.State);}</td>
                <th>
                    <a href="@Url.Action("Details", "Leave", new { item.LeaveId })" class="btn btn-link"><i class="glyphicon glyphicon-zoom-in"></i> View Details</a>
                </th>
            </tr>
        }
    </tbody>
</table>